.App {
  /* text-align: center; */
  margin: 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Login-form {
  padding: 1em;
}

.Login-form p {
  text-align: justify;
}

.Login-form-elements {
  text-align: center;
  /* border-radius: 5px;
  border: 1px solid; */
}
